:host {
  flex: 0 0 100%;
  div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 100%;
    margin-bottom: 0.5em;
  }
  label {
    margin-right: 0.5em;
  }
}
