:host {
  box-sizing: border-box;
  padding: 10vh 10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 70vh;
}
form {
  width: 100%;
}
article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: lightcoral;
  padding: 1em 2em;
  margin-bottom: 1em;

  border-radius: 30px;
  .name {
    flex: 1 1 70%;
  }
  .price,
  .add {
    flex: 0 0 15%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .panel {
    flex: 1 0 100%;
  }
}
.create-client {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
