@if (budgetsFormArray) {
  <form [formGroup]="budgetsForm">
    <section formArrayName="budgetsFormArray">
      @for (
        budgetControl of budgetsFormArray.controls;
        track $index;
        let i = $index
      ) {
        <article [formGroupName]="i">
          <div>
            <h2>{{ budgets()[i].name }}</h2>
            <p>{{ budgets()[i].description }}</p>
          </div>
          <div>{{ budgets()[i].price }} €</div>
          <div>
            <mat-checkbox [id]="'budget-' + i" formControlName="selected" />
            <p>Afegir</p>
          </div>

          @if (budgetControl.value.selected && budgets()[i].options) {
            <app-panel
              [panelForm]="getAsFormGroup(budgetControl.get('options'))"
              [options]="budgets()[i].options ?? []"
            ></app-panel>
          }
        </article>
      }
    </section>
  </form>
}

<div>
  <strong>Total: {{ totalBudget() }} €</strong>
</div>
<form
  class="create-client"
  [formGroup]="clientForm"
  (ngSubmit)="createClient()"
>
  <div>
    <label for="name">Nom: </label>
    <input id="name" aria-label="nom" formControlName="name" type="text" />
    <div>
      @if (
        clientForm.get("name")?.hasError("required") &&
        clientForm.get("name")?.touched
      ) {
        <small>El nom és obligatori.</small>
      }
    </div>
  </div>

  <div>
    <label for="telephone">Telèfon: </label>
    <input id="telephone" aria-label="numero movil" formControlName="telephone" type="tel" />
    <div>
      @if (
        clientForm.get("telephone")?.hasError("required") &&
        clientForm.get("name")?.touched
      ) {
        <small>El telefon és obligatori.</small>
      }
    </div>
  </div>

  <div>
    <label for="email">Email: </label>
    <input id="email" aria-label="email" formControlName="email" type="email" />
    <div>
      @if (
        clientForm.get("email")?.hasError("required") &&
        clientForm.get("name")?.touched
      ) {
        <small>L'E-Mail és obligatori.</small>
      }
    </div>
  </div>

  <button type="submit" [disabled]="!clientForm.valid">
    Sol·licitar Pressupost
  </button>
</form>

<app-budget-list></app-budget-list>
