@if (budgetsFormArray) {
  <form [formGroup]="budgetsForm">
    <section formArrayName="budgetsFormArray">
      @for (budget of budgetsFormArray.controls; track $index; let i = $index) {
        <article [formGroupName]="i">
          <div>
            <h1>{{ budget.value.name }}</h1>
            <p>{{ budget.value.description }}</p>
          </div>
          <div>{{ budget.value.price }} €</div>
          <div>
            <mat-checkbox [id]="'budget-' + i" formControlName="selected" />
            <p>Afegir</p>
          </div>

          @if (budget.get("options") && budget.value.selected) {
            <app-panel
              [panelForm]="getAsFormGroup(budget.get('options'))"
              [options]="budgets()[i].options ?? []"
            ></app-panel>
          }
        </article>
      }
    </section>
  </form>
}

<div>
  <strong>Total: {{ totalBudget() }} €</strong>
</div>
