@for (
  clientBudget of budgetService.getClientBudgets();
  let i = $index;
  track i
) {
  <article>
    <div>
      <h2>
        {{ clientBudget.name }}
      </h2>
      <div>{{ clientBudget.email }}</div>
      <div>{{ clientBudget.telephone }}</div>
    </div>
    <div>
      <div>Serveis Contractats:</div>
      <ul>
        @for (budget of clientBudget.budgets; let j = $index; track j) {
          <li>
            {{ budget.name }}
          </li>
          @for (option of budget.options | keyvalue; track option.key) {
            <div>{{ option.key }}:{{ option.value }}</div>
          }
        }
      </ul>
    </div>
  </article>
}
